@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&family=Source+Code+Pro:wght@300;400&display=swap');

body {
  margin: 0px;
}
/*navbar*/
.nav-container {
  position: sticky;
  z-index: 3;
  top: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  background-color: #ffffff;
}

.navbar-logo {
  justify-self: start;
  margin-left: 100px;
  color: rgb(0, 0, 0);
  margin-top: 4vh;
  cursor: pointer;
  font-family: 'Pacifico';
  font-size: 40px;
}

.ver-carrito {
  font-size: 25px;
  margin-right:50px;
  margin-top: 5vh;
  cursor: pointer;
}

/*Banner styles*/
.banner {
  background-size: cover;
  background-position: center;
  height: 70vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./img/1aaf29fec168a8356af6a7adc7974f9b.jpg");
    border-radius: 20px;
   
}

.banner-container {
  text-align: center;
  padding: 15% 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 100px;
  font-weight: bold;
 }


/*product cards*/
.shop-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin: 10px;
  border-radius: 10px;
  margin-bottom: 50px;
  font-family: 'Pacifico';
}

.card > img {
  width: 90%;
  height: 250px;
  border-radius: 20px;
  
}

.price {
  color: rgb(127, 127, 127);
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 20px;
  font-family: 'Roboto';
 
}

.card button:hover {
  opacity: 0.7;
  background-color: #fff;
  color: black
}

/*modal content*/
.modal-container {
  width: 80%;
  margin: 0 10%;
  
  max-height: 88vh;
  color: #fff;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*for the top*/
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 12vh;
  scrollbar-color: none;
  border-radius: 20px;
}

.modal-container::-webkit-scrollbar {
  display: none;
}
.modal-header {
  display: flex;
  justify-content: space-around;
  background-color: #0a0909;
  color: #fff;
  width: 100%;
}

.modal-header-title {
  justify-self: start;
  font-family: 'pacifico';
}

.modal-header-button {
  cursor: pointer;
}

.modal-container > .modal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 10px;
}

.modal-container > div > img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.total-content {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  padding-top: 20px;
 background-color:#fff;
 border-radius: 20px;
 margin-bottom: 20px;
 color: black;
 font-family: 'Pacifico';
 margin-top: 20px;


}

.total-content:hover{
    background-color: #121212;
    color: white;
    }


/*delete button product*/
.delete-product {
  cursor: pointer;
}

/*CarritoCounter*/
.cantidad-carrito {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 30%;
  font-size: 12px;
  padding: 4px;
  top: 37px;
  right: 40px;
  position: absolute;
  display: none;
}

.sumar {
  cursor: pointer;
}

.restar {
  cursor: pointer;
}

/*se agregaron unas lineas de css con media querys para que se adapte mejor al responsive :)*/

@media (max-width: 450px) {
    .modal-container {
     display: none;
    }


      .navbar-logo {
      font-size: 150%;
      padding-right: 9%;
      }
    
    .modal-container > .modal-content {
      justify-content: space-between;
      width: 80%;
      margin: 2px;
      font-size: 10px;
    }
  
    .modal-container > div > img {
      height: 80px;
      width: 80px;
    }

  }
